{% extends 'owner/ownhom.html' %}
{% load static %}
{% block title %}
<title>Payments</title>
{% endblock %}
{% block content %}
<div>
    <h2 class="text-2xl font-bold dark:text-white mb-4">Welcome to the Main Content Area!</h2>
    <p class="text-gray-700 dark:text-gray-300">
        Payments data from payment gateway and other sources
    </p>
    <div class="mt-6">
        <p class="text-gray-700 dark:text-gray-300">
            You can place any HTML content here, such as forms, tables, cards,
            or dynamic data from your Django views.
        </p>
    </div>
</div>


{% endblock %}