{# common/templates/common/password_reset_complete.html #}
{% extends 'common/base.html' %}
{% load static %}

{% block title %}
<title>Password Reset Complete</title>
{% endblock %}

{% block content %}
<div class="flex flex-col flex-grow bg-gray-100 dark:bg-gray-800">
  {# Re-using the navigation bar #}
  <section class="bg-gray-100 dark:bg-gray-800 flex-grow py-8 px-4 flex items-center justify-center">
    <div class="container mx-auto px-4 py-6 flex-grow flex items-stretch justify-center">
      <div class="flex flex-col md:flex-row md:space-x-8 h-full w-full max-w-screen-xl items-stretch justify-center">
        <div class="w-full p-6 rounded-lg shadow-lg
              bg-gradient-to-br from-green-400 to-blue-500
              text-white flex flex-col justify-center items-center min-h-[400px]">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center">Password Reset Complete</h2>
          <p class="mb-5 font-light text-xl text-center">
            Your password has been set. You may go ahead and log in now.
          </p>
          <a href="{% url 'common:login' %}"
            class="text-blue-600 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-white dark:hover:bg-gray-100 dark:focus:ring-blue-800">
            Log In
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}