    
    {% load static %}
    
    {% for c in client %}
    <tr id="client-row-{{ c.id }}" class="border-b dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
        <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
            <img class="w-10 h-10 rounded-full" src="{{ c.profileuser.profpic.url}}" alt="Jese image">
            <div class="ps-3">
                <div class="text-base font-semibold">{{c.first_name}} {{c.last_name}}</div>
                <div class="font-normal text-gray-500">{{c.email}}</div>
            </div>
        </th>
        <td class="px-6 py-4">
            {{c.profileuser.bulding}}-{{c.profileuser.floor}}-{{c.profileuser.room}}
        </td>
        <td class="px-6 py-4">
            {% if c.profileuser.phone %}
            {{ c.profileuser.phone }}
            {% else %}
            Not Available
            {% endif %}
        </td>
        <td class="px-6 py-4">
            {% if c.profileuser.builing_id.Agent %}
            {{ c.profileuser.builing_id.Agent.first_name }} {{ c.profileuser.builing_id.Agent.last_name }}
            {% else %}
            Not Available
            {% endif %}
        </td>
    <td class="px-6 py-4">
        <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" value="true" class="sr-only peer" {% if c.is_active %}checked{% endif %} hx-post="{% url 'owner:activecheck' c.id %}" hx-target="#client-row-{{ c.id }}" name="is_active" hx-swap="outerHTML">
            <div
                class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600">
            </div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">
                {% if c.is_active %}Active{% else %}Inactive{% endif %}
            </span>
        </label>
    </td>
        <td class="px-6 py-4">
            <a href="" class="inline-block text-blue-600 dark:text-blue-500 hover:underline me-3">
                <img class="w-5 h-5" src="{% static 'owner icos/client/edit-alt-6.svg' %}" alt="Edit icon" />
            </a>
            <a href="" class="inline-block text-gray-600 dark:text-gray-500 hover:underline">
                <img class="w-5 h-5" src="{% static 'owner icos/client/view-svgrepo-com.svg' %}" alt="View icon" />
            </a>
        </td>
    </tr>
    {% endfor %}